PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=
PGSSLMODE=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SUPABASE_STORAGE_BUCKET=
SUPABASE_UPLOAD_URL_TTL=
SUPABASE_DOWNLOAD_URL_TTL=

NODE_ENV=
